<div class="app-brand">
  <div style="float: right; width: 45%;">
    <img style="width: 32px;cursor: pointer;" src="assets/img/menu.svg" alt="menu" (click)="toggleSidebar()" />
  </div>
  <div class="text-center mt-2" style="float: left; width: 55%;">
    <h6>{{'app'}}</h6>
    <p style="margin-bottom: 0;">{{'app.title'| translate }}</p>
  </div>
</div>
<div class="mcb-page-header {{showSidebarClass}}">
  <div style="display: inline-block; float: right;position: absolute;">
    <!-- <label>
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{
          lang }}</option>
      </select>
    </label> -->
    <mat-form-field appearance="fill" class="mt-3">
    <mat-label>{{'انتخاب زبان'}}</mat-label>
      <mat-select>
        <mat-option  *ngFor="let lang of translate.getLangs()" [value]="lang" [id]="lang === translate.currentLang"
                    (onSelectionChange)="setLanguage($event)">{{lang}}</mat-option>
        <!-- <mat-option value="two">Second option</mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>
  <div class="m-1" style="left: 0;position: absolute;">
    <app-user-status></app-user-status>
  </div>
</div>
